APScheduler==3.5.3
baidu-aip==2.2.18.0
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.12.5
chardet==3.0.4
click==7.1.2
fake-useragent==0.1.11
Flask==1.1.2
h2==2.6.2
hpack==3.0.0
hyper==0.7.0
hyperframe==3.2.0
idna==2.8
itsdangerous==1.1.0
jieba==0.42.1
Jinja2==2.11.2
joblib==1.0.0
lxml==4.3.1
MarkupSafe==1.1.1
numpy==1.19.4
opencv-python==4.4.0.46
PyExecJS==1.5.1
pygame==2.0.1
pytz==2020.5
redis==3.1.0
requests==2.21.0
scikit-learn==0.24.0
scipy==1.5.4
selenium==3.141.0
six==1.15.0
sklearn==0.0
soupsieve==2.1
threadpoolctl==2.1.0
tzlocal==2.1
urllib3==1.24.1
Werkzeug==1.0.1
